@media (max-width: 580px) and (min-width: 300px) {
    body{
        min-width: 300px;
        max-width: 100%;
    }
    .album{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        object-fit: cover;
        margin: 10px;
        }   
}